
<table class="table table-stripped">
    <thead>
        <tr>
            <th>USER DETAILS</th>
            <th>ROLE</th>
            <th>DEPARTMENT</th>
            <th>SUBMITS TO</th>
        </tr>
    </thead>
</table>
<tbody>
    <tr *ngFor = "let usuario of usuarios">
        <td><img class="profile-photo" [src]="usuario.imageUrl"></td>
            <ul class="nome-usuario">{{ usuario.name }}</ul>
            <ul class="nome-usuario">{{ usuario.email }}</ul>
            <ul class="contato-usuario">{{ usuario.contact }}</ul>
            <ul class="contato-usuario">{{ usuario.occupation }}</ul>
        

    </tr>
</tbody>
