


.profile-photo {
    height: 6em;
    weight: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.nome-usuario {
    color: #0095f6;
    margin-bottom: 0.2rem;
    cursor: pointer;
}

.contato-usuario {
    color: rgb(160, 160, 160);
    margin-bottom: 0.2rem;
    cursor: pointer;
}